[mysqld]
skip-external-locking
lower_case_table_names = 1

#
# * Fine Tuning
#
table_cache = 2048
table_open_cache = 4000
table_definition_cache = 2048

join_buffer_size = 64M

key_buffer		= 16M
max_allowed_packet	= 16M
thread_stack		= 192K
thread_cache_size       = 32

max_connections        = 300
wait_timeout           = 900

#
# * Query Cache Configuration
#
query_cache_limit	= 1M
query_cache_size        = 256M

#
# * Logging and Replication
#
expire_logs_days	= 10
max_binlog_size         = 100M

# innodb
innodb_file_per_table = 1
innodb_buffer_pool_size = 6144M
innodb_log_buffer_size = 8M
innodb_flush_method = O_DIRECT
